# ------------------------------------------------------------------------------
# CODEOWNERS - Backend
# This file is used to define code owners for specific paths in the repository.
# Each line is a file pattern followed by one or more owners.
# Owners can be individual GitHub usernames or teams within the organization.
# ------------------------------------------------------------------------------

# Itegrators
* @dittravel/integrators

# Scrum Master
* @lorechewtat

# Backend Codeowner
/controllers/ @aquiba-benarroch
/routes/ @aquiba-benarroch
/services/ @aquiba-benarroch
/middleware/ @aquiba-benarroch
/models/ @aquiba-benarroch
/index.js @aquiba-benarroch

# Database Codeowner
/database/ @lorechewtat
/openapi/ @lorechewtat
/backup_scripts/ @lorechewtat