<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Comprobación de gastos de viaje</title>
  <link rel="stylesheet" href="./styles.css">
</head>
<body>
  <div class="container">
    
    <div class="header">
      <img src="https://raw.githubusercontent.com/dittravel/.github/refs/heads/main/profile/logo_dittravel_color.png" alt="Logo" class="logo">
      <h2>Comprobación de gastos de viaje</h2>
    </div>

    <p>Hola <strong>{{username}}</strong>,</p>
    <p>Una nueva solicitud de viaje requiere que verifiques los comprobantes de gastos. A continuación te compartimos los detalles:</p>

    <div class="details">
      <ul>
        <li><strong>Número de solicitud:</strong> {{requestId}}</li>
        <li><strong>Estado:</strong> {{status}}</li>
        <li><strong>Fecha de actualización:</strong> {{currentDate}}</li>
      </ul>
    </div>

    <div class="actions">
      <p><strong>Acciones requeridas:</strong></p>
      <p>Selecciona el siguiente botón para verificar los comprobantes de gastos de la solicitud:</p>
      
      <p class="text-center">
        <a href="{{portalUrl}}/comprobar-gastos/{{requestId}}" class="btn">Ver Comprobantes</a>
      </p>
    </div>

    <div class="footer">
      <p>
        Si deseas más información, puedes acceder a tu portal en 
        <a href="{{portalUrl}}/login">{{portalUrl}}/login</a>
      </p>
    </div>
  </div>
</body>
</html>
